nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #7e30de;
    color: #fff;
    box-shadow: 0 2px 4px rgba(141, 20, 202, 0.2);
    font-family: Arial, sans-serif;
    font-size: 20px;
    transition: background-color 0.3s ease;
    animation: slideIn 0.5s forwards;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #3bb40f;
    color: #eee;
}

@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity:0;
    }
    to {
        transform: translateY(10);
        opacity: 1;
    }
}
#login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    animation: loginAnimation 0.5s ease forwards;
}

#login input ,select{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 16px;
    margin: auto;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    animation: inputAnimation 0.5s ease forwards;
}

#login select,input:focus {
    border-color: #007bff;
    outline: none;
    animation: inputFocus 0.3s ease forwards;

}

#login  select{
    margin-bottom: 10px;
}

#login button {
    align-self: center;
    padding: 0.5rem 1.5rem;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: buttonAnimation 0.5s ease forwards;
}

#login button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#login button:active {
    background-color: #004494;
    transform: translateY(0);
}





#register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    animation: loginAnimation 0.5s ease forwards;
}

#register input ,select{
    width: 400px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    animation: inputAnimation 0.5s ease forwards,
    inputAnimation2 0.7s ease forwards,
    inputAnimation3 0.9s ease forwards;
}


@keyframes inputAnimation {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes inputAnimation2 {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes inputAnimation3 {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}

#register select,input:focus {
    border-color: #007bff;
    outline: none;
    animation: inputFocus 0.3s ease forwards;

}

#register  select{
    margin-bottom: 10px;
}

#register button {
    align-self: center;
    padding: 0.5rem 1.5rem;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: buttonAnimation 0.5s ease forwards;
}

#register button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#register button:active {
    background-color: #004494;
    transform: translateY(0);
}


@keyframes loginAnimation {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes inputAnimation {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes inputFocus {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes buttonAnimation {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


#head{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: 0 0 10px rgba(235, 229, 229, 0.2);
    margin-bottom: 1.5rem;
    color: #333;
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif,cursive;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#dashboard{
    display: flex;
}

#sidebar {
    position: sticky;
    top: 75px;
    left: 0;
    background-color: rgb(32, 32, 32);
    height: calc(100vh - 80px);
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: sidebarAnimation 0.5s ease forwards;
    text-align: center;
    a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #333;
        }
    }
}

@keyframes sidebarAnimation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


#outlet{
    margin: 20px;
}


#hero{
img{
    margin-top: -50px;
    height: 90%;
    width: 100%;
}
}


#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 550px;
    margin: 2rem auto;
    margin-left: 55%;
    animation: fadeIn 1s ease-in-out forwards;

    .p1{
        display: flex;
        gap: 30px;
    }
}

#profile h4 {
    margin-bottom: 0.5rem;
    color: #333;
    animation: slideIn 1s ease-in-out forwards;
}

#profile p {
    margin-bottom: 0.5rem;
    color: #666;
    animation: slideIn 1.2s ease-in-out forwards;
}



.heading {
    text-align: center;
    color: #71a3dd;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.balance-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    margin-left: 55%;
    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }
}


#deposite{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    margin-left: 55%;
    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }
}

#Withdraw{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    margin-left: 55%;
    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }
}


#transcation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 800px;
    margin: 2rem auto;
    margin-left: 20%;
    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }   
}


#loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    margin-left: 55%;
    animation: fadeIn 1s ease-in-out forwards;


    img{
        width: 400px;
        height: 200px;
    }
}



#reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 450px;
    margin: 2rem auto;
    margin-left: 55%;
    margin-top: 100px;

    animation: fadeIn 1s ease-in-out forwards;

    h4 {
        margin-bottom: 0.5rem;
        color: #333;
        animation: slideIn 1s ease-in-out forwards;
    }

    input {
        width: 400px;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        font-size: 16px;
        margin: auto;
        margin-bottom: 20px;
        transition: border-color 0.3s ease;
        animation: inputAnimation 0.5s ease forwards,
        inputAnimation2 0.7s ease forwards,
        inputAnimation3 0.9s ease forwards;
    }

    button {
        align-self: center;
        padding: 0.5rem 1.5rem;
        background-color: #0069d9;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        animation: buttonAnimation 0.5s ease forwards;

        &:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
    }
}